* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: $body-background-color;
    color: $body-default-color;
    font-family: $body-default-font-familty;
}

.row {
    margin: 0 !important;
}

.main-content {
    margin-top: 84px !important;
}

.collection {
    border-radius: 3px;
}

.chip {
    color: white;
    background: #1e2228;
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
    margin-bottom: 10px;
}