@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

//Colors
$brand-primary: #397ab1;


//Body
$body-background-color: #c0ddce;
$body-default-color: #333333;
$body-default-font-familty: 'Open Sans', sans-serif;

