.selected-team-title {
    margin: 3%;
    letter-spacing: 3px;
    font-weight: bold;
}

.url-link {
    text-align: center;
    font-size: 20px;
    margin-bottom: 2%;
    margin-top: 100px;
    a {
        color: #6600ea;
    }
}