.team-list-header {
    .btn-add {
        background-color: #df1927;
        margin: 1%; 
    }
    .create-member {
        width: 80%;
    }
    .btn-create-member {
        width: 100%;
        background-color: #df1927;
        color: #ffffff;
        letter-spacing: 5px;
        font-weight: 600;
        font-size: 13px;
        height: 56px;
        margin-bottom: 5%;
    }
}