.team-member-list {
    border-right: 2px solid rgba(97, 97, 97, 0.29);
    min-height: calc(100vh - 84px);
    .team-member-list-title {
        padding: 0;
        margin-top: 25px;
        letter-spacing: 5px;
        font-size: 20px;
        color: black;
    }
}